.doctor-details-modal {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 10px;
  background: #f4f6f9;
}

.doctor-modal-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.doctor-modal-info h3 {
  margin: 0;
  font-size: 20px;
}

.doctor-modal-info p {
  margin: 3px 0;
  font-size: 14px;
}
